body {
    padding-top: 50px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#Open-Swagger {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#table-container {
    min-height: 1600px; /* Adjust this based on the table's typical height */
}

.pagination-container {
    text-align: center !important;
    margin-top: 20px;
    height: 1000px; /* Keeps pagination controls area consistent */
}